a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: tomato;
    align-content: center;
    align-items: center;
    border-radius: 
    height: ;
    width: ;


}